<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for ordering from Jungle-rails, </h1>
    <p>
    You ordered these items:  <br>
    <% @order.line_items.each do |line_item| %>
    <%= line_item.quantity %> <%= line_item.product.name %> <br>
    <% end %>
    Your total is: <%= number_with_precision(@order.total_cents/100, :precision => 2) %>
    </p>
    <p>Thank you for ordering!</p>
  </body>
</html>
